<script lang="ts">
	import GameScreen from './GameScreen.svelte';
	import GameSize from './GameSize.svelte';

	let gameHeight = 30;
	let gameWidth = 50;
</script>

<svelte:head>
	<title>Game of life</title>
	<meta name="description" content="Conway's game of life" />
</svelte:head>

<h1>Game of life</h1>
<ul>
	<li>Any live cell with fewer than two live neighbours dies (referred to as underpopulation).</li>
	<li>Any live cell with more than three live neighbours dies (referred to as overpopulation).</li>
	<li>Any live cell with two or three live neighbours lives, unchanged, to the next generation.</li>
	<li>Any dead cell with exactly three live neighbours comes to life.</li>
</ul>
<GameSize bind:gameWidth bind:gameHeight />
<br />
<GameScreen {gameHeight} {gameWidth} />

<style>
</style>
