<script lang="ts">
	export let gameWidth: number;
	export let gameHeight: number;

	let onUpdate = (e: Event) => {
		console.log(e.target?.name, e.target?.value);
		switch (e.target?.name) {
			case 'width':
				gameWidth = parseInt(e.target.value);
				break;
			case 'height':
				gameHeight = parseInt(e.target.value);
				break;
			default:
				break;
		}
	};
</script>

<label for="width">Width</label>
<input
	type="number"
	id="width_selector"
	name="width"
	min={3}
	max={300}
	value={gameWidth}
	on:change={onUpdate}
/>
<label for="height">Height</label>
<input
	type="number"
	id="height_selector"
	name="height"
	min={3}
	max={300}
	value={gameHeight}
	on:change={onUpdate}
/>

<style>
</style>
