<script lang="ts">
	export let chessBoardPattern: () => void;
	export let gunPattern: () => void;
</script>

<button
	on:click={() => {
		chessBoardPattern();
	}}>Chess board</button
>
<button
	on:click={() => {
		gunPattern();
	}}>Gun</button
>

<style>
</style>
